<!Doctype html>

<html>
<head>
    <title> ASP Application </title>
</head>
<body style="background-color:palegoldenrod">
    <center>
        <div style="align-items:center">
            <h1> ABC Ltd. </h1>
            <p>
                Attribute Routing gives us more control over the URIs in our MVC web application. The earlier way of routing (convention-based routing) is fully supported by this version of MVC. We can also use both type of routing in the same project.
            </p>
            <p>
                Attribute Routing gives us more control over the URIs in our MVC web application. The earlier way of routing (convention-based routing) is fully supported by this version of MVC. We can also use both type of routing in the same project.
            </p>
        </div>
    </center>
   @RenderSection("A1", required:false)
   @RenderBody()
</body>
</html>